@import "../../css/colors.css";
@import "../../css/units.css";

.pause-button {
    width: 2rem;
    height: 2rem;
    padding: 0.375rem;
    border-radius: 0.25rem;
    background-color: transparent;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    margin: 0 0.25rem;
    transition: all 0.1s ease;
    user-select: none;
    user-drag: none;
}

.pause-button:hover {
    background-color: $looks-light-transparent;
}

.pause-button.is-active {
    background-color: $looks-transparent;
}

.pause-button.is-paused {
    background-color: $ui-green-25percent;
}

.pause-button.is-paused:hover {
    background-color: $looks-light-transparent;
}

.pause-icon {
    color: $ui-orange;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.25rem;
    height: 1.25rem;
}

.pause-button.is-paused .pause-icon {
    color: $ui-green;
}

/* アイコンサイズ調整 */
.pause-icon svg {
    width: 1.25rem;
    height: 1.25rem;
}